#search {
    text-align: center;
    margin: auto;
}

md-card md-card-content .md-media-xl {
    height: 100%;
    width: 100%;
}

#img-card {
    width: 80%;
    text-align: center;
    margin: auto;
}